@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Train+One&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(230,230,230);
  font-size: 18px;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Train One', cursive;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}/* Write some CSS below */


.banner {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  /*display: inline-block;*/
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}

.container {
  margin: auto;
}

.card-white {
  background-color: white;
  text-align: center;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  /*width: 200px;*/
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-white img {
  width: 100%;
  border-radius: 5px;
}

.footer {
  background-color: black;
  padding: 100px 0;
}

.footer p {
  text-align: center;
  color: white;
}

/* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card-white {
    width: 60%;
  }
}

/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 600px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}



